.about {
    padding-top: 150px;
    width: 100%;
    margin-bottom: 90px;
}

.about-title {
    text-align: center;
    margin-bottom: 70px;
}

.about h3 {
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
}

.about p {
    line-height: 1.7em;
    letter-spacing: .01em;
    color: rgba(23, 23, 23, .9);
}

.description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.profile-img {
    width: 100%;
    height: 800px;
    object-fit: contain;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about-content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content h4 {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.about-content h3 {
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 690px;
    text-align: center;
    margin: 1em 0;
}

.about-content div {
    display: flex;
    gap: 2.5em;
}

.contact-btn {
    background-color: black;
    color: white;
    padding: 20px 40px;
    margin-top: 80px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    letter-spacing: 2px;
}

@media screen and (max-width: 940px) {
    .about {
        padding-top: 100px;
    }

    .about h3 {
        font-size: 40px;
    }

    .about-content h4 {
        margin-top: 20px;
    }

    .description-container {
        display: flex;
        flex-direction: column;
    }

    .about-title {
        margin: 0;
    }

    .about-content {
        margin: 0;
    }

    .about-content div {
        flex-direction: column;
    }
}